
body {
    background-color: #2a2e2c;
    color:antiquewhite;
}
/* 
div#text-field {
    border: black solid 3px;
    display: flex;
    width: 60%;
    height: 100%;
} */

#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 30px;
    padding: 15px;
    border: 0;
    width: calc(100% - 32px);
    height: calc(100 - 32px);
    border: black solid 3px;
}
  
#editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 13pt;
    font-family: monospace;
    line-height: 20pt;
}

textarea#editing, pre#highlighting {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 80%;
}

textarea#editing {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: white;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

#highlighting {
    z-index: 0;
}

#highlighted-content {
    color: #ebe1ca;
}

code > span#highlight-instruction {
    color: #EBC054
}

code > span#highlight-register {
    color: #50EBB7
}

code > span#highlight-comment {
    color: #909996
}

